{% extends "index.html" %}

{% load i18n %}
{% block pagetitle %}Las Marías - Cambiar Contraseña{% endblock %}

{% block title %}
    {% if token_fail %}
        ¡Token inválido!
    {% else %}
        Cambiar Contraseña
    {% endif %}
{% endblock %}

{% block content %}
    {% if token_fail %}
        <p>El token para resetear la contraseña es inválido, posiblemente porque ya haya sido usado. Por favor, solicite nuevamente el link de reseteo.</p>
        <p>¡Muchas gracias por elegír Las Marías!</p>
        <p class="signature">El equipo de <span class="highlight">Las Marías</span></p>
    {% else %}
        {% if form %}
            <p>Ingrese la nueva contraseña utilizando el siguiente formulario:</p>
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="Cambiar Contraseña"/>
            </form>
        {% else %}
            <p class="highlight">¡Su contraseña ha sido cambiada correctamente!</p>
            <p>Ya puede iniciar sesión en la App con su nueva contraseña.</p>
        {% endif %}
        <p>¡Muchas gracias por elegír Las Marías!</p>
        <p class="signature">El equipo de <span class="highlight">Las Marías</span></p>
    {% endif %}
{% endblock %}

{% block contact %}
<h2>Tiene alguna duda?</h2>
<p><a href="mailto:lasmarias@distribuidoralasmarias.com" target="_blank">lasmarias@distribuidoralasmarias.com</a></p>
{% endblock %}
