html, body {
  background-color: #f5f5f5;
  box-sizing: border-box;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

.maxwidth {
  max-width: 1000px;
  margin: 0 auto;
}

.highlight {
  color: #009B97 !important;
}

.signature {
  font-size: 17px !important;
  line-height: 8px !important;
  margin-top: 30px;
}

header {
  background-color: #f5f5f5;
  padding: 0 1em;
}

header .logo {
  padding: 20px 0;
  text-align: center;
}

header .title {
  background-color: white;
  border-radius: 4px 4px 0px 0px;
  color: #111111;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 48px;
  padding: 20px;
  text-align: center;
}

.content-body {
  background-color: #f4f4f4;
  padding: 0 1em;
}

.content-body .content {
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  padding: 20px 40px;
}

.content > p {
  padding: 10px 0;
  color: #666666;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

.content a {
  color: #009B97;
}

.contact-body {
  background-color: #f4f4f4;
  padding: 20px 1em;
}

.contact-body .contact {
  background-color: #E5E5E5;
  border-radius: 4px 4px 4px 4px;
  padding: 20px 40px;
  text-align: center;
}

.contact h2 {
  color: #111111;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.contact a {
  color: #009B97;
}

footer {
  background-color: #f4f4f4;
  padding: 20px 1em;
}

footer p {
  padding: 5px 0;
  color: #666666;
}

form {
  border-radius: 4px;
  margin: 20px 0;
  padding: 20px 0 10px 0;
  text-align: center;
}

form p {
  margin-bottom: 20px;
  color: #009B97;
}

form label {
  display: inline-block;
  display: none;
  width: 230px;
}

form input[type="password"] {
  background-color: #f5f5f5;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  height: 25px;
  padding: 3px 6px;
  outline: 0;
  width: 230px;
}

form input[type="submit"] {
  border: 0;
  border-radius: 4px;
  font-size: 15px;
  background-color: #009B97;
  padding: 8px 12px;
  color: white;
  margin-top: 20px;
}

form input[type="submit"]:hover {
  box-shadow: 2px 2px 2px #BBBBBB;
}